<div class="nav-list">
    <h1>Angular Todo</h1>
    <h2>プロジェクト一覧</h2>
    <div 
      class="nav-item" 
      *ngFor="let project of projects" 
      [class.selected]="project.id === selectedProjectId"
      (click)="selectProject(project.id)"
      (dblclick)="startEditingProject($event, project)">
      
      <span *ngIf="editingProjectId !== project.id">{{ project.name }}</span>
      
      <input 
        *ngIf="editingProjectId === project.id" 
        #editProjectInput 
        type="text" 
        class="edit-project-input" 
        [(ngModel)]="newProjectName"
        (blur)="saveEditedProjectName()"
        (keydown.enter)="saveEditedProjectName()"
        placeholder="プロジェクト名を入力">
  
      <div class="menu" (click)="toggleMenu($event, project.id)">
        &#x22EE; <!-- 三点リーダー -->
        <div class="menu-options" *ngIf="activeMenuProjectId === project.id">
          <div (click)="startEditingProject($event, project)">編集</div>
          <div (click)="deleteProject($event, project.id)">削除</div>
        </div>
      </div>
    </div>
  
    <div class="nav-item add-project" (click)="startAddingProject()" *ngIf="!isAddingProject">
      + プロジェクト追加
    </div>
  
    <div *ngIf="isAddingProject">
        <input 
          #newProjectInput
          type="text" 
          class="new-project-input" 
          [(ngModel)]="newProjectName"
          (blur)="addProject()"
          (keydown.enter)="addProject()"
          placeholder="プロジェクト名を入力">
    </div>
  </div>
  