<div class="nav-list">
    <h2>プロジェクト一覧</h2>
    <div 
      class="nav-item" 
      *ngFor="let project of projects" 
      [class.selected]="project.id === selectedProjectId"
      (click)="selectProject(project.id)"
      (dblclick)="startEditingProject(project)"> <!-- ダブルクリックで編集開始 -->
      
      <span *ngIf="editingProjectId !== project.id">{{ project.name }}</span> <!-- 編集中でない場合は名前を表示 -->
      
      <!-- 編集中の入力フィールド -->
      <input 
        *ngIf="editingProjectId === project.id" 
        #editProjectInput 
        type="text" 
        class="edit-project-input" 
        [(ngModel)]="newProjectName"
        (blur)="onBlur()" 
        (keydown.enter)="saveEditedProjectName()"
        placeholder="プロジェクト名を入力">
    </div>
  
    <div class="nav-item add-project" (click)="startAddingProject()" *ngIf="!isAddingProject">
      + プロジェクト追加
    </div>
  
    <div *ngIf="isAddingProject">
      <input 
        #newProjectInput
        type="text" 
        class="new-project-input" 
        [(ngModel)]="newProjectName"
        (blur)="onBlur()"
        (keydown.enter)="addProject()"
        placeholder="プロジェクト名を入力">
    </div>
  </div>
  