.form-fream {
    border: 1px solid #808080;
    padding: 20px;
    border-radius: 3px;
}

.form-content {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
}

.form-text-area {
    border: 1px solid #808080;
    font-size: 24px;
}

.add-todo-button {
    padding: 6px;
    color: white;
    background-color: #e26161;
    border-radius: 3px;
    border: 1px solid #808080;
    margin-left: 20px;
}