.content {
    display: flex;
}

.nav-content {
    min-width: auto;
}

.main-content {
    width: 100%;
    padding: 40px;
}

.form-content {
    width: 100%;
}

.todolist-content {
    margin-top: 32px;
    width: 100%;
}