.content {
    display: flex;
}

.header-content {
    position: fixed;
    margin: 0 0 0 320px; /* ナビゲーションバーの幅を考慮 */
    width: calc(100% - 320px); /* ヘッダーの幅を全体に保つ */
    height: 65px;
    z-index: 1000;
}

.nav-content {
    position: fixed;
    height: 100vh;
    width: 320px;
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 320px;
    padding-top: 80px;
    width: calc(100% - 320px);
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-content {
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.todolist-content {
    width: 100%;
    margin-top: 32px;
    max-width: 1080px;
    justify-content: center;
}
